# JWT keys
ACCESS_TOKEN_KEY=YOUR_ACCESS_TOKEN_KEY
REFRESH_TOKEN_KEY=YOUR_REFRESH_TOKEN_KEY

# Database config
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_PORT=5432
DATABASE_URL=postgres://user:password@localhost:5432/db